{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalog Application</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
</head>
<body>
   
    <header>
        <div class="navbar navbar-expand-sm bg-primary navbar-dark">
            <div class="container">
                <a href="/" class="navbar-brand">Movie App</a>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="#" class="nav-link">Products</a>
                    </li>
                    
                </ul>
            </div>
        </div> 
    </header>
    <main>
        <div class="container mt-4">
            {% block content %}
            {% endblock %}
        </div>

    </main>
    <footer>
        <div class="footer py-3 mt-3">
            <div class="container">
            <span class="text-muted"> 
                Movie Application
            </span>
            
            </div>
        </div>
    </footer>

   


    <script src="{% static 'js/jquery-3.4.1.min.js' %}" ></script>
    <script src="{% static 'js/popper.min.js' %}" ></script>
    <script src="{% static 'js/bootstrap.min.js' %}" ></script>
     
</body>
</html>